<section class="about-text-section" id="buero">
  <div class="about-text-container">
    <h2 class="about-heading">Büro</h2>
    
    <p class="about-text">
      ARCHITEKTUR <strong>M</strong> ist ein fiktives Architekturbüro mit Fokus auf präzise Entwurfsarbeit und kontextbezogene Lösungen. Unsere Projekte entstehen aus der sorgfältigen Analyse des Ortes, der Nutzung und der baulichen Rahmenbedingungen. Wir begleiten Bauvorhaben von der ersten Idee bis zur Umsetzung und verstehen Architektur als klar strukturierten Prozess, in dem Entwurf, Konstruktion und Material in einem ausgewogenen Verhältnis stehen. Ein bewusster Umgang mit Ressourcen, der Weiterbau im Bestand und die Entwicklung langlebiger, nachhaltiger Lösungen sind dabei zentrale Bestandteile unserer Arbeit.
    </p>
  </div>
</section>

